body{
    background-color: chartreuse;
}
img{
    float: left;
}
.atajos{
    color: black;
    float: right;
}
ul li{
    display: inline;
font-size: 1.5em;
padding: 10px;

}
ul li a{
    color: black;
}
ul li a:hover{
    color: white;
    }






