body{
    background-color: rgb(201, 231, 179);
}
.Inicio{
    clear: both;
    overflow: auto;
}
#Logo{
    float: left;
}
.Atajos{
    color: black;
    float: right;
}
ul li{
    display: inline;
    font-size: 1.3em;
    padding: 10px;

}
ul li a{
    color: black;
    text-decoration: none;
}
ul li a:hover{
    color: white;
    background: red;
}
h1 a{
    text-decoration: none;
    color: black;
}
.main .Registro{
    float: left;
    width: 60%;
    margin-right: 1.5%;
    
}
table{
    background-color: white;
    margin: 0 auto;
}
table tr {
    border: 2px;
}
aside{
    width: 38.50%;
    height: 200px;
    background-color: blue;
    color: cornsilk;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}
footer{
    font-family: 'Romanesco', cursiva;
    text-align: center;
    clear: both;
    padding: 10px;
}








