body{
    background-color: rgb(42, 101, 36);
}
h1{
    font-family: sans-serif;
}
.Inicio{
    clear: both;
    overflow: auto;
}
#Logo{
    float: left;
}
.Atajos{
    color: black;
    float: right;
}
ul li{
    display: inline;
font-size: 1.3em;
padding: 10px;

}
ul li a{
    color: black;
    text-decoration: none;
}
ul li a:hover{
    color: white;
    }
    h2 a{
        color: black;
        text-decoration: none;
    }
    .contexto{
        float: left;
        }
    #aqp{
        float: right;
        width: 300;
        height: 200;
        }


        .Registrarse{
            clear: both;
            overflow: auto;
        width: 500;
        height: 500;
            }
        .Registro {
         background-color: white;
        border:5px;
        background-position-x: right;
        
        }
        th{
            border-style: dashed;
            
        
        }
  
        
