
body{
    background-color: rgb(201, 231, 179);
}


.inicio{
    clear: both;
    display: table;
    background: rgba(57, 141, 1, 1);
    position: fixed;
    width: 99%;
    height: 100px;
    border-radius: 10px;
    
}
header #header-logo{
    width: 30%;
    background-position: center;
    float: left;
}

header #atajos{
    color: black;
    display: block;
    position: relative;
	top: 20px;
	left: 1%;
	width: 65%;
	height: 100px;
    float: right;
}
ul li{
    display: inline;
    font-size: 1.3em;
    padding: 10px;

}
ul li a{
    color: black;
    text-decoration: none;
}
ul li a:hover{
    color: white;
    background: black;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}
menu {
    clear: both;
    margin-top: 100px;
    
}

    .slider{
        width: 100;
        margin: auto;
        overflow: hidden;
        
    }
    .slider ul{
        display: flex;
        padding: 0;
        width: 400%;
        animation: cambio 20s infinite alternate;
        
    }
    .slider li{
        width: 100%;
        list-style: none;
        
    }
    .slder img{
        width: 100%;
        
        
    }
    @keyframes cambio{
        0% {margin-left: 0;}
        20% {margin-left: 0;}
    
        25% {margin-left: -100%;}
        45% {margin-left: -100%;}
    
        50% {margin-left: -200%;}
        70% {margin-left: -200%;}
    
        75% {margin-left: -300%;}
        100% {margin-left: -300%;}
    }


    .contexto{
        float: left;
        }
    #aqp{
        float: right;
        width: 300;
        height: 200;
        }
footer{
    text-align: center;
    clear: both;
    padding: 10px;
}

        
        
